In [25]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("Titanicss.csv")
print(df)
print("SURVIVED COUNTS")
print(df['survived'].value_counts())
plt.figure(figsize=(3,2))
plt.bar(['Not survived','survived'],df['survived'].value_counts(),color=['purple','blue'])
plt.title('How many prople survived?')
plt.ylabel('Number of people')
plt.show()
print("Gender counts")
print(df['sex'].value_counts())
plt.figure(figsize=(3,2))
gender_counts=df['sex'].value_counts()
plt.pie(gender_counts,labels=gender_counts.index,colors=['skyblue','violet'],autopct='%1.1f%%',startangle=90)
plt.title('MALE VS FEMALE')
plt.axis('equal')
plt.show()
print("SURVIVED BY CLASS")
print(df.groupby('pclass')['survived'].sum())
survived_by_class=df[df['survived']==1]['pclass'].value_counts().sort_index()
plt.figure(figsize=(3,2))
plt.bar(['1st class','2nd class','3rd class'],survived_by_class.values,color='purple')
plt.title('SURVIVED COUNT BY PASSENGER CLASS')
plt.ylabel('Number of survivors')
plt.show()

   passengerId  survived     sex   Age  pclass   fare
0            1         0    male  22.0       3   7.25
1            2         1  female  38.0       1  71.28
2            3         1  female  26.0       3   7.92
3            4         1  female  35.0       1  53.10
4            5         0    male  35.0       3   8.05
5            6         0    male   NaN       3   8.46
6            7         0    male  54.0       1  51.86
7            8         0    male   2.0       3  21.07
8            9         1  female  27.0       3  11.13
9           10         1  female  14.0       2  30.07